body {
    margin: 0;
    background: #1F2937;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 10px;
}
h1{
    margin-left: 10px;
}

h2{
    margin-left: 10px;
     color: #4ADF86;
}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-left: 10px;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #10B981;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    border: none;
    border-radius: 6px;
}

.passwords{
    display: flex;
    flex-direction: space-between;
}

#password-el1{
    color: #4ADF86;
    text-align: center;
    margin: 30px 20px 0px 10px;
    font-size: 16px;
    line-height: 37px;
    background-color: #273549;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;
}

#password-el2{
    color: #4ADF86;
    text-align: center;
    margin: 30px 20px 0px 10px;
    font-size: 16px;
    line-height: 37px;
    background-color: #273549;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;
}